streamlit>=1.32.0
yfinance>=0.2.38
pandas>=2.0.0
numpy>=1.26.0
plotly>=5.20.0
scikit-learn>=1.4.0
ta>=0.11.0
textblob>=0.18.0
xgboost>=2.0.0
scipy>=1.12.0
statsmodels>=0.14.0
GoogleNews>=1.6.14
pytz>=2024.1
